/*
    *Contains color variable definitions for the clock task.
*/

$light-orange-color: #ffd278;
$orange-color: #ffa500;
$sky-blue-color: #439af8;
$deep-blue-color: #003c88;
$white-color: #fff;
$black-color: #000;
